<%- include('template/header'); %>

    <div class="pantallazo">
        <!-- Section -->
        <section class="section_">
            <div class="contenedor">
                <div class="cont-text">
                    <h1 class="animate__zoomIn Titulo"> Bienvenidos a mi portafolio </h1>
                    <h2 class="subTitulo"> A continuacion les mostrare... </h2>
                    <h3 class="parrafo"> Toda mi vida acádemica </h3>
                </div>
                <div class="cont-image">
                    <img src="./../static/educacion.png" class="animate__animated animate__bounceIn img" alt="astronauta">
                </div>
            </div>
        </section>
    </div>

    <!-- Seccion Sobre Mi -->
    <section id="sobremi" class="sobremi">
        <div class="contenido-seccion">
            <h2> Primaria </h2>
            <p> <span> Hola, soy Laura Romero, </span> te cuento que yo estudie 9 años en el mismo colegio, 
                un colegio que me gusto muchisimo y me lo disfrute
            </p>

            <div class="fila">

                <!-- Datos Personales -->
                <div class="col">
                    <img class="colegio1" src="./../static/colegio1.jpg">
                </div>

                <!-- Informacion -->
                <div class="col-info">
                    <h3> Informacion </h3>
                    <ul>
                        <li>
                            <span> Nombre </span>
                            Colsubsidio San Vicente
                        </li>
                        <li>
                            <span> Tiempo </span>
                            2010-2019
                        </li>
                        <li>
                            <span> Descripcion </span>
                                Era un colegio muy bueno, luego de un tiempo cambio de conseción y
                                se volvio muy malo, la forma de enseñeñar cambio, los uniformes, todo cambio :(
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="skills" id="skills">
        <div class="contenido-seccion">
            <h2> Secundaria </h2>
            <p> Luego de haber cursado 9, me cambie para este colegio, que ofrecia una gran oportunidad de estudio, que es el sena
            </p>

            <div class="fila">

                <!-- Datos Personales -->
                <div class="col">
                    <img class="colegio1" src="./../static/colegio1.jpg">
                </div>

                <!-- Informacion -->
                <div class="col-info">
                    <h3> Informacion </h3>
                    <ul>
                        <li>
                            <span> Nombre </span>
                            Aldemar Rojas Plazas
                        </li>
                        <li>
                            <span> Tiempo </span>
                            2020-2021
                        </li>
                        <li>
                            <span> Descripcion </span>
                                Era un colegio muy bueno, aunque esos años estuvo lo del covid, igualmente me difrute mucho esta etapa :)
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

<%- include('template/footer'); %>

</body>

</html>