@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?pd3dsg');
  src:  url('fonts/icomoon.eot?pd3dsg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?pd3dsg') format('truetype'),
    url('fonts/icomoon.woff?pd3dsg') format('woff'),
    url('fonts/icomoon.svg?pd3dsg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aircraft:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-plugin:before {
  content: "\e903";
}
.icon-bird:before {
  content: "\e912";
}
.icon-phone:before {
  content: "\e900";
}
.icon-camera:before {
  content: "\e904";
}
.icon-pictures:before {
  content: "\e907";
}
.icon-headphone:before {
  content: "\e908";
}
.icon-planet:before {
  content: "\e90e";
}
.icon-bookmark:before {
  content: "\e909";
}
.icon-suitcase1:before {
  content: "\e906";
}
.icon-heart1:before {
  content: "\e90f";
}
.icon-car:before {
  content: "\e90a";
}
.icon-home:before {
  content: "\e902";
}
.icon-images:before {
  content: "\e910";
}
.icon-airplane:before {
  content: "\e9af";
}
.icon-cassette:before {
  content: "\e90b";
}
.icon-graduado:before {
  content: "\e905";
}
.icon-soccer:before {
  content: "\e90d";
}
.icon-bike:before {
  content: "\e911";
}
