<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  

    <!-- TITULO -->
    <title> Portafolio Laura Romero </title>

    <!-- ICONO -->
    <link rel="icon" type="image/png" href="./../static/icono.png">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./../static/css/style.css">
    
    <!-- JAVASCRIPT -->
    <script src="./../static/js/main.js"></script>

    <!-- ICONOS -->
    <link rel="stylesheet" href="./../static/icon/style.css">

    <!-- ANIMACIONES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

</head>

<body>
    
    <!-- footer -->
    <footer>
        <a href="#inicio" class="arriba">
            <i class="icon-chevron-up"></i>
        </a>
        <div class="redes">
            <a href="#"><i class="icon-facebook"></i></a>
            <a href="#"><i class="icon-instagram"></i></a>
            <a href="#"><i class="icon-whatsapp"></i></a>
        </div>
        <p class="copyright"> <i> Laura Romero © 2022 </i> </p>

    </footer>